div{
    width: 100%;
}


.line{
    width: 300px;
        height: 2px;
        border-radius: 5px;
        background-color:black;
        margin: 7px auto;

}
.container-size{
    width: 100%;
    height: 200px;
}

.image-size{
    width: 10px;
}

.mt-6{
    margin-top: 40px;
}
.img-size{
    width: 100%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo-size{
    width: 50px;
}

.img-card-size{
    height: 250px;;
    display: flex;
    justify-content: center;
    align-self: center;
}

.img-carousel-size{
    width: 100vh;
    display: flex;
    justify-content: center;
    align-self: center;
}

.img-team{
    width: 20vh;
}

.width-card{
    width: 50%;
}

.card-title{
    display: flex;
    align-items: center;
}

.card-border{
    border: 1px solid black;
    border-radius: 10px;
    width: 25%;
}

.rodape{
    width: 100%;
}

.container-small{
    width: 50%;
    height: 35%;
}

.graf{
    width: 80%;
    height: 80%;
}